MyApi/obj/MyApi.csproj.nuget.dgspec.json
MyApi/obj/MyApi.csproj.nuget.g.props
MyApi/obj/MyApi.csproj.nuget.g.targets
MyApi/obj/project.assets.json
MyApi/obj/project.nuget.cache
MyApi/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
MyApi/obj/Debug/net8.0/MyApi.AssemblyInfo.cs
MyApi/obj/Debug/net8.0/MyApi.AssemblyInfoInputs.cache
MyApi/obj/Debug/net8.0/MyApi.assets.cache
MyApi/obj/Debug/net8.0/MyApi.csproj.AssemblyReference.cache
MyApi/obj/Debug/net8.0/MyApi.GeneratedMSBuildEditorConfig.editorconfig
MyApi/obj/Debug/net8.0/MyApi.GlobalUsings.g.cs
MyApi_Test/bin/Debug/net8.0/CoverletSourceRootsMapping_MyApi_Test
MyApi_Test/obj/MyApi_Test.csproj.nuget.dgspec.json
MyApi_Test/obj/MyApi_Test.csproj.nuget.g.props
MyApi_Test/obj/MyApi_Test.csproj.nuget.g.targets
MyApi_Test/obj/project.assets.json
MyApi_Test/obj/project.nuget.cache
MyApi_Test/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
MyApi_Test/obj/Debug/net8.0/MyApi_Test.AssemblyInfo.cs
MyApi_Test/obj/Debug/net8.0/MyApi_Test.AssemblyInfoInputs.cache
MyApi_Test/obj/Debug/net8.0/MyApi_Test.assets.cache
MyApi_Test/obj/Debug/net8.0/MyApi_Test.csproj.AssemblyReference.cache
MyApi_Test/obj/Debug/net8.0/MyApi_Test.GeneratedMSBuildEditorConfig.editorconfig
MyApi_Test/obj/Debug/net8.0/MyApi_Test.GlobalUsings.g.cs
