name: Backend CI/CD

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build-test-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore ./MyApi

      - name: Build
        run: dotnet build ./MyApi --configuration Release

      - name: Test
        run: |
         cd MyAPI_Test
         dotnet test ./MyAPI_Test --no-build --verbosity normal
